
.section {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
aside {
  width: 20%;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}



